.tab {
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 3.2rem;
  flex: 1;
}

.tab:focus {
  outline: none;
}

.tab:focus-visible {
  outline: solid 4px black;
  outline-offset: 4px;
}

.tab[aria-selected="true"] {
  background-color: black;
  color: white;
}
